.header {
    color: rgb(255, 255, 255);
    background-color: blueviolet;
    text-align: center;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
}

.body {
    background-color: rgb(255, 252, 252);
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
}

.footer {
    background-color: blueviolet;
    color: white;
    text-align: center;
    padding: 10px;
}
 .blog1 {
    max-height: 400px;
    max-width: 600px;
    margin: auto;
    width: 70%;
    padding: 20px;
 }